@import url('https://fonts.googleapis.com/css?family=Chivo');

body {
  font-family: 'Chivo', sans-serif;
  padding: 1rem 6rem;
  background-color: rgb(238, 238, 238);
}

hr {
  margin-bottom: 2rem;
  border-top: 1px solid rgb(214, 214, 214);
  width: 100%;
}

.store-logo {
  font-size: 3.3rem;
}