button:hover {
  cursor: pointer;
}

button:disabled {
  background-color: #dfdfdf;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  text-align: center;
  margin: 3rem;
}

.acme {
  display: flex;
  width: 25%;
  margin: 1rem;
  justify-content: center;
}