:local(.cart){
  display: flex;
  float: left;
  margin: 1.5rem 0rem;
  width: 25%;
  justify-content: center;
}

.logo {
  font-size: 3.5rem;
  justify-items: start;
}

#i {
  font-size: 1.25rem;
  color: rgb(146, 146, 146);
}

.del {
  color: rgb(150, 150, 150);
  border: none;
  background-color: white;
  margin: 1rem;
}

.dec {
  border: none;
  color: white;
  background-color: silver;
  border-radius: .20rem;
  padding: .5rem 1rem;
  margin: 1rem;
}

.dec:hover {
  background-color: rgb(150, 150, 150);
}

.inc {
  border: none;
  background-color: silver;
  color: white;
  border-radius: .20rem;
  padding: .5rem 1rem;
  margin: 1rem;
}

.inc:hover {
  background-color: rgb(150, 150, 150);
}

.check {
  border: none;
  color: white;
  background-color: #3eab93;
  border-radius: .20rem;
  padding: .5rem 1rem;
  margin: 1rem;
}

.check:hover {
  background-color: #27987f ;
}
