:local(.productitem){
  display: flex;
  align-items: center;
}


@media only screen and (max-width: 768px) {
  .btn {
    position: relative;
    bottom: 3rem;
    left: 2rem;
  }
}

@media only screen and (max-width: 320px) {
  .btn {
    position: relative;
    bottom: 0;
    right: 0;
  }
}

.add {
  border: none;
  color: white;
  background-color: #3eab93;
  border-radius: .20rem;
  padding: .5rem 1rem;
  margin: 1rem;
}

.add:hover {
  background-color: #27987f;
}

.add:disabled {
  background-color: #dfdfdf;
  cursor: pointer;
}

hr {
  border-top: silver solid 1px;
}

