.product-btn {
    position: relative;
    top: -100px; left: 730px;
    border: none;
    color: white;
    background-color: steelblue;
    border-radius: 1.5rem;
    padding: .75rem 1.75rem;
}

.product-btn:hover {
    background-color: rgb(47, 98, 139);
    cursor: pointer;
}