:local(.product){
  display: flex;
  flex-direction: column;
}

img {
  width: 30%;
  float: left;
}

.Image {
  border: silver 1px solid;
}

.info {
  float: left;
  margin: 2rem;
}

.price{
  float: right;
  margin: 2rem;
}


